body{
    font-family: 'Roboto Slab', serif;
}

.slider.slider-horizontal .slider-track {
    height: 10px;
    width: 50%;
    margin-top: -5px;
    top: 50%;
    left: 0;
}

.btn2{
        background-color: #4A374B;
        color: #fff;
        padding: 5px, 20px;
        padding: 0.5rem 4rem;
        border-radius: 50px;
        margin: auto;
        text-transform: capitalize;
        -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.35); 
        box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.35);
    }


.col{
    color:rgba((244, 164, 80, 1);
    background-image: linear-gradient(180deg, rgba(244, 164, 80, 0.9), rgba(216, 158, 99, 0.8));
    background-blend-mode: overlay;
}


.heading {
    color: #fff;
    font-family: 'Roboto Slab', serif !important;
 text-transform:capitalize; 
 font-weight: 900;
}

.log{
    width: 20%;
    position: absolute;
    left: 40%;
    top: 0%;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paragraph {
    margin: 1rem 8rem;
    padding:1rem;
    font-size: 1.2rem;
}

p{
    font-size: 1.6rem;
}

.heading {
  font-family: 'Roboto Slab', serif;
    color: #fff;
    text-transform: uppercase;
}